# Python
.run_logs_v2/
.DS_Store
*.code-workspace
.zshrc
zshrc_mac
zshrc_ubuntu
internal_tools/.zshrc
__pycache__/
*.py[cod]
*.pyo

# Virtual env
.venv/

# IDEs
.idea/
.vscode/

# Backups locales
internal_tools/bkp_ignore/

# Otros
*.log
*bkp*
*.DS_Store*
data/components/
